<div class="shadow sm:rounded-md sm:overflow-hidden mb-4">
  <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
    <h4 class="text-lg">Edit Question</h4>
    <div id="question_form" class="px-4 py-5 bg-white space-y-6 sm:p-6">
      <%= render 'admin/questions/form' %>
    </div>
  </div>
</div>
