<div class="flex items-start">
  <div class="flex items-center h-5">
    <input id="question_<%= id %>" type="checkbox" class="focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded"
  </div>
  <div class="ml-3 text-small">
    <label for="question_<%= id %>" class="block text-sm font-medium text-gray-700">
      <%= question.label %>
    </label>
  </div>
</div>
